swagger: "2.0"
info:
  title: Frankly Match API
  description: |
    Group matching algorithms for creating groups of participants in deliberations, in order to foster constructive dialogue.
  version: 1.2.0
  contact:
    name: Frankly / Berkman Klein Center
    url: https://github.com/berkmancenter/frankly

host: frankly-match-gateway-aputzq6q.uc.gateway.dev
basePath: /
schemes:
  - https

x-google-backend:
  address: https://frankly-match-api-euc2qc6jja-uc.a.run.app
  deadline: 300.0

x-google-endpoints:
  - name: frankly-match-gateway-aputzq6q.uc.gateway.dev
    allowCors: true

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: x-api-key

security:
  - ApiKeyAuth: []

paths:
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      tags: [Infrastructure]
      responses:
        "200":
          description: Service is up and running
          schema:
            $ref: "#/definitions/HealthResponse"

  /match:
    options:
      operationId: matchCors
      summary: CORS preflight
      tags: [Matching]
      security: []
      responses:
        "204":
          description: CORS preflight response
    post:
      operationId: match
      summary: Match participants into discussion groups
      description: |
        Accepts a map of participant IDs to survey responses and selects a matching strategy using the algorithm field.

        **binaryGroupMatch algorithm:**
        Binary answer strings encode survey responses as "0"/"1" characters, one character per question (e.g. "01001"). Strings shorter than the maximum are random-padded server-side.

        1. Create "buckets" of participants grouped by identical answer mask
        2. Build a graph where buckets are nodes; edges connect buckets with Hamming distance = 1
        3. BFS-cluster similar answer patterns until targetGroupSize clusters are formed
        4. Compose final groups by taking one person from each cluster

        **textGroupMatch algorithm:**
        Free-form responses are embedded using a remote preference-embedding model and compared with cosine distance.

        1. Plan group sizes, then allocate groups to arms as sqrt(2):1:1 (medium:low:high). Off-size groups go to the medium arm so the extreme arms stay uniform.
        2. Randomly split participants into three pools, one per arm. Assignment to condition is exactly random; the optimizer only rearranges people within their own pool afterwards.
        3. Optimize each endpoint pool by minimax - the low pool minimizes its worst group's diversity, the high pool maximizes its worst - so the arm label holds for every group, not on average.
        4. Set the medium target to the midpoint of the two achieved endpoint means, giving equally spaced doses, then optimize the medium pool toward it.
        5. Check the arms for overlap and report whether each arm's independent restarts agreed.

        Randomization happens after embedding, so a REQUIRE_REAL_TEXT failure aborts before anyone is assigned to a condition.

        diversityLevel reports which arm a group was randomized into and is the regressor for analysis; achievedDiversity reports what the group reached. assignedTarget is present only for the medium arm, since minimax has no target by construction. Per-event diagnostics - pool geometry, feasible bounds per arm, achieved endpoint means, the medium target, arm-overlap gaps and per-arm restart convergence - are logged rather than returned. If embedding fails, the API returns size-preserving random groups with fallbackUsed=true and omits achieved scores.

        Until freeTextResponse is supplied by the upstream survey payload, missing text responses receive deterministic development placeholders.
      tags: [Matching]
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/MatchRequest"
      responses:
        "200":
          description: Successfully computed groups
          schema:
            $ref: "#/definitions/MatchResponse"
          examples:
            application/json:
              results:
                - groupId: "1"
                  participantIds: ["uid_alice", "uid_dave", "uid_eve"]
                  diversityLevel: high
                  diffusionStatement: "Political compromise is usually more valuable than ideological consistency."
                - groupId: "2"
                  participantIds: ["uid_bob", "uid_carol", "uid_frank"]
                  diversityLevel: medium
                  diffusionStatement: "Future generations should have formal representation in present-day decisions."
        "400":
          $ref: "#/responses/BadRequest"
        "422":
          $ref: "#/responses/UnprocessableEntity"
        "500":
          $ref: "#/responses/InternalError"

definitions:
  MatchRequest:
    type: object
    required: [algorithm, targetGroupSize, participants]
    properties:
      algorithm:
        $ref: "#/definitions/MatchAlgorithm"
      targetGroupSize:
        type: integer
        minimum: 2
        description: |
          Desired number of participants per output group.

          binaryGroupMatch requires a value >= 2. textGroupMatch requires a value >= 3 and prioritizes producing as many groups of exactly this size as possible.
        example: 5
      participants:
        type: object
        description: |
          Map of participantId to participantData.
          - Keys: opaque, non-empty participant identifiers
          - Values: free-form objects. Keys are defined by the caller and may include anything the algorithm or enrichment step needs (e.g. binaryAnswerMask, freeTextResponse). The server passes unknown keys through to the algorithm untouched.
        minProperties: 1
        additionalProperties:
          $ref: "#/definitions/ParticipantData"
        example:
          uid_alice:
            binaryAnswerMask: "01001"
            freeTextResponse: "Public transit should be free in major cities."
          uid_bob:
            binaryAnswerMask: "10110"
            freeTextResponse: "Transit fares help maintain reliable service."
          uid_carol:
            binaryAnswerMask: "01100"
            freeTextResponse: "Cities should invest more heavily in rail infrastructure."

  MatchAlgorithm:
    type: string
    enum:
      - binaryGroupMatch
      - textGroupMatch
    description: |
      Matching algorithm to use:
      - binaryGroupMatch: BFS cluster-then-compose matching on binary answer masks
      - textGroupMatch: Embedding-based matching toward adaptive numeric diversity targets

  ParticipantData:
    type: object
    description: |
      Per-participant survey data. The selected algorithm determines which field it reads.

      freeTextResponse is temporarily optional for textGroupMatch while the upstream survey payload is being extended. Missing values receive deterministic placeholders.
    properties:
      binaryAnswerMask:
        type: string
        pattern: "^[01]+$"
        minLength: 1
        description: |
          Binary string encoding survey responses as "0"/"1" characters, one per question (e.g. "01001"). Required by binaryGroupMatch.

          Strings shorter than the longest mask in the request are random-padded server-side.
        example: "01001"
      freeTextResponse:
        type: string
        minLength: 1
        description: |
          Free-form survey response embedded by textGroupMatch. Whitespace-only or missing values currently receive a development placeholder.
        example: "Public transit should be free in major cities."
    additionalProperties: true

  MatchResponse:
    type: object
    required: [results]
    properties:
      results:
        type: array
        description: |
          List of group result objects. Every input participantId appears in exactly one group.
        minItems: 1
        items:
          $ref: "#/definitions/GroupResult"

  GroupResult:
    type: object
    required: [groupId, participantIds]
    description: |
      A single group result. groupId and participantIds are always present.

      Algorithms may attach arbitrary additional keys (e.g. reflectionPrompt, diversityScore) - app developers should treat these as optional.
    properties:
      groupId:
        type: string
        description: Stable identifier for this group within the response.
        example: "1"
      participantIds:
        type: array
        minItems: 1
        items:
          type: string
        description: IDs of participants assigned to this group.
        example: ["uid_alice", "uid_dave", "uid_eve"]
      diversityLevel:
        type: string
        enum: [high, medium, low, unknown]
        description: |
          Which arm this group was randomized into for textGroupMatch: low, medium or high. This is the randomized assignment and is the regressor for analysis; achievedDiversity is post-randomization. unknown indicates random fallback after participant embedding failure.
      diffusionStatement:
        type: string
        description: |
          Statement selected to be distant from every group member using a maximin cosine-distance rule. FALLBACK STATEMENT is returned when statement selection is unavailable.
    additionalProperties: true

  HealthResponse:
    type: object
    required: [status]
    properties:
      status:
        type: string
        enum: [ok]

  ErrorResponse:
    type: object
    required: [code, message]
    properties:
      code:
        type: string
        description: Machine-readable error identifier
        enum:
          - INVALID_ANSWER_MASK
          - INVALID_TEXT_RESPONSE
          - NO_PARTICIPANTS
          - INSUFFICIENT_PARTICIPANTS
          - TARGET_GROUP_SIZE_TOO_SMALL
          - UNKNOWN_ALGORITHM
          - INTERNAL_ERROR
      message:
        type: string
        description: Human-readable explanation

responses:
  BadRequest:
    description: Malformed request body (unparseable JSON, missing required fields)
    schema:
      $ref: "#/definitions/ErrorResponse"
  UnprocessableEntity:
    description: Request is well-formed but semantically invalid
    schema:
      $ref: "#/definitions/ErrorResponse"
  InternalError:
    description: Unexpected server error
    schema:
      $ref: "#/definitions/ErrorResponse"

tags:
  - name: Matching
    description: Core matching endpoint
  - name: Infrastructure
    description: Health probes
