swagger: "2.0"
info:
  title: Frankly Match API
  description: |
    Group matching algorithms for creating groups of participants in deliberations, in order to foster constructive dialogue.
  version: 1.0.0
  contact:
    name: Frankly / Berkman Klein Center
    url: https://github.com/berkmancenter/frankly

host: cloud-run-app-url.placeholder.url
basePath: /
schemes:
  - https

x-google-backend:
  address: https://frankly-match-api-euc2qc6jja-uc.a.run.app

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: x-api-key

security:
  - ApiKeyAuth: []

paths:
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      tags: [Infrastructure]
      responses:
        "200":
          description: Service is up and running
          schema:
            $ref: "#/definitions/HealthResponse"

  /match:
    post:
      operationId: match
      summary: Match participants into discussion groups
      description: |
        Currently, accepts a map of participant IDs to binary answer strings and returns groups whose members have maximally different answer patterns (high Hamming distance).

        Answer strings encode survey responses as "0"/"1" characters, one character per question (e.g. "01001"). The API treats these as opaque - all semantic meaning lives in the caller. Strings shorter than the maximum are random-padded server-side.

        **binaryGroupMatch algorithm:**
        1. Create "buckets" of participants grouped by identical answer mask
        2. Build a graph where buckets are nodes; edges connect buckets with Hamming distance = 1
        3. BFS-cluster similar answer patterns until targetGroupSize clusters are formed
        4. Composes final groups by taking one person from each cluster - guaranteeing each group has diverse views represented

        **Group sizes**: Groups may vary by +/-1 when len(participants) is not evenly divisible by targetGroupSize. If len(participants) <= targetGroupSize, all participants are returned as a single group.
      tags: [Matching]
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/MatchRequest"
      responses:
        "200":
          description: Successfully computed groups
          schema:
            $ref: "#/definitions/MatchResponse"
          examples:
            application/json:
              results:
                - groupId: "1"
                  participantIds: ["uid_alice", "uid_dave", "uid_eve"]
                - groupId: "2"
                  participantIds: ["uid_bob", "uid_carol", "uid_frank"]
        "400":
          $ref: "#/responses/BadRequest"
        "422":
          $ref: "#/responses/UnprocessableEntity"
        "500":
          $ref: "#/responses/InternalError"

definitions:
  MatchRequest:
    type: object
    required: [algorithm, targetGroupSize, participants]
    properties:
      algorithm:
        $ref: "#/definitions/MatchAlgorithm"
      targetGroupSize:
        type: integer
        minimum: 2
        description: |
          Desired number of participants per output group. Must be >= 2.

          If len(participants) <= targetGroupSize, all participants are returned as one group regardless of this value.
        example: 3
      participants:
        type: object
        description: |
          Map of participantId to participantData.
          - Keys: opaque, non-empty participant identifiers
          - Values: free-form objects. Keys are defined by the caller and may include anything the algorithm or enrichment step needs (e.g. binaryAnswerMask, freeTextResponse). The server passes unknown keys through to the algorithm untouched.
        minProperties: 1
        additionalProperties:
          $ref: "#/definitions/ParticipantData"
        example:
          uid_alice:
            binaryAnswerMask: "01001"
          uid_bob:
            binaryAnswerMask: "10110"
          uid_carol:
            binaryAnswerMask: "01100"

  MatchAlgorithm:
    type: string
    enum:
      - binaryGroupMatch
    description: |
      Matching algorithm to use. Currently supported:
      - binaryGroupMatch: BFS cluster-then-compose matching on binary answer masks. Add new algorithms here as enum values without changing the rest of the request shape.

  ParticipantData:
    type: object
    description: |
      Free-form per-participant data. No keys are required by the base contract - the algorithm declared in algorithm determines which keys it reads (e.g. binaryGroupMatch reads binaryAnswerMask).

      Unknown keys are ignored by the server and never returned.
    properties:
      binaryAnswerMask:
        type: string
        pattern: "^[01]+$"
        minLength: 1
        description: |
          Binary string encoding survey responses as "0"/"1" characters, one per question (e.g. "01001"). Required by binaryGroupMatch.

          Strings shorter than the longest mask in the request are random-padded server-side.
        example: "01001"
    additionalProperties: true

  MatchResponse:
    type: object
    required: [results]
    properties:
      results:
        type: array
        description: |
          List of group result objects. Every input participantId appears in exactly one group.
        minItems: 1
        items:
          $ref: "#/definitions/GroupResult"

  GroupResult:
    type: object
    required: [groupId, participantIds]
    description: |
      A single group result. groupId and participantIds are always present.

      Algorithms may attach arbitrary additional keys (e.g. reflectionPrompt, diversityScore) - app developers should treat these as optional.
    properties:
      groupId:
        type: string
        description: Stable identifier for this group within the response.
        example: "1"
      participantIds:
        type: array
        minItems: 1
        items:
          type: string
        description: IDs of participants assigned to this group.
        example: ["uid_alice", "uid_dave", "uid_eve"]
    additionalProperties: true

  HealthResponse:
    type: object
    required: [status]
    properties:
      status:
        type: string
        enum: [ok]

  ErrorResponse:
    type: object
    required: [code, message]
    properties:
      code:
        type: string
        description: Machine-readable error identifier
        enum:
          - INVALID_ANSWER_MASK
          - NO_PARTICIPANTS
          - TARGET_GROUP_SIZE_TOO_SMALL
          - UNKNOWN_ALGORITHM
          - INTERNAL_ERROR
      message:
        type: string
        description: Human-readable explanation

responses:
  BadRequest:
    description: Malformed request body (unparseable JSON, missing required fields)
    schema:
      $ref: "#/definitions/ErrorResponse"
  UnprocessableEntity:
    description: Request is well-formed but semantically invalid
    schema:
      $ref: "#/definitions/ErrorResponse"
  InternalError:
    description: Unexpected server error
    schema:
      $ref: "#/definitions/ErrorResponse"

tags:
  - name: Matching
    description: Core matching endpoint
  - name: Infrastructure
    description: Health probes
